script.
    var menubar = require('menubar')
    var electron = require('electron')
    var clipboard = electron.clipboard

    function copyEmoji(emojiType)
    {
        clipboard.writeText(':' + emojiType + ':')
    }